@font-face {
    src: url(fonts/D-DIN\ \(1\).otf);
    font-family: d-din;
    src: url(fonts/D-DINCondensed-Bold\ \(1\).otf);
    font-family: d-din-con;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: #d8d8d8;
    padding-left: 47px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.main {
    /* background: lightblue; */
    /* max-width: 1465px; */
    /* margin-left: 250px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 145px;
    /* max-width: 1500px; */
}

.test {
    /* max-width: 1465px; */
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lease-property {
    background: white;
    width: 355px;
    height: 410px;
    border-radius: 5px;
    margin: 10px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

/* looks a touch distorted */
.one {
    background: url(./assets/images/1525\ broadway.jpeg);
    background-size: 355px;
    background-repeat: no-repeat;
    background-position: center;
}

.two {
    background: url(./assets/images/28Grand.jpg);
    background-size: 355px;
    background-repeat: no-repeat;
    background-position: center;
}

.three {
    background: url(./assets/images/35\ w\ grand\ river.jpg);
    background-size: 355px;
    background-repeat: no-repeat;
    background-position: center;
}

.four {
    background: url(./assets/images/book\ tower.jpeg);
    background-size: 355px;
    background-repeat: no-repeat;
    background-position: center;
}

.five {
    background: url(./assets/images/brewster\ douglass.jpg);
    background-size: 355px;
    background-repeat: no-repeat;
    background-position: center;
}

.six {
    background: url(./assets/images/CityModern.jpg);
    background-size: 355px;
    background-repeat: no-repeat;
    background-position: center;
}

.seven {
    background: url(./assets/images/1456\ Woodward.jpg);
    background-size: 355px;
    background-repeat: no-repeat;
    background-position: center;
} 

.eight {
    background: url(./assets/images/GratiotSite.jpg);
    background-size: 355px;
    background-repeat: no-repeat;
    background-position: center;
}

/* needs to be edited */
.nine {
    background: url(./assets/images/Hudson\ site\ copy.jpg);
    background-size: 355px;
    background-repeat: no-repeat;
    background-position: center;
}

.ten {
    background: url(./assets/images/Malcomson\ building.jpg);
    background-size: 355px;
    background-repeat: no-repeat;
    background-position: center;
}

.eleven {
    background: url(./assets/images/monroe\ blocks.jpg);
    background-size: 355px 213px;
    background-repeat: no-repeat;
    background-position: center;
}

/* needs editing */
.twelve {
    background: url(./assets/images/the\ assembly.jpg);
    background-size: 355px 213px;
    background-repeat: no-repeat;
    background-position: center;
}

.thirteen {
    background: url(./assets/images/the\ furgeson\ .jpg);
    background-size: 355px;
    background-repeat: no-repeat;
    background-position: center;
}

.fourteen {
    background: url(./assets/images/the\ may\ .jpeg);
    background-size: 355px;
    background-repeat: no-repeat;
    background-position: center;
}

.fifteen {
    background: url(./assets/images/the\ press.jpeg);
    background-size: 355px;
    background-repeat: no-repeat;
    background-position: center;
}

.sixteen {
    background: url(./assets/images/the\ stott.jpg);
    background-size: 355px;
    background-repeat: no-repeat;
    background-position: center;
}  

.seventeen {
    background: url(./assets/images/the\ vinton\ .jpg);
    background-size: 355px;
    background-repeat: no-repeat;
    background-position: center;
}

.main-info {
    /* background: white; */
    /* border-bottom: 1px solid black; */
    height: 88px;
    display: flex;
    padding: 17px;
}

.profile-image {
    background: lightgray;
    width: 41px;
    height: 43px;
    border-radius: 50%;
    align-self: center;
    margin-right: 14px;
}

.price-size {
    display: flex;
    flex-direction: column;
    justify-content: center; 
   
}

.price {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.size {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}


.image {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    height: 213px;
}

.address-div {
    /* background: white; */
    height: 109px;
    width: 313px;
    /* border-top: 1px solid black; */
    padding-top: 8px;
    padding-left: 17px;
}

.address {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 313px;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: left;
}

.details {
    border: none;
    margin-left: 57px;
    color: #31BDBA;
    height: 49px;
    line-height: 16;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    /* color: inherit; */
    font: inherit;
    letter-spacing: 1.8px;


    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.details:hover {
    cursor: pointer;
}

.bed-bath {
    position: relative;
    display: flex;
    margin-top: 51px;
    width: 335px;
    
}

.beds {
    /* position: relative; */
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.bed-num {
    display: inline-block;
    padding-left: 5px;
    width: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.baths {
    position: relative;
    display: flex;
    align-items: center;
}

.bath-num {
    display: inline-block;
    padding-left: 5px;
    width: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}